<h1> Liste des emails</h1>


<%= turbo_frame_tag "new_email" do %>
<ul id="email-list">
    <% @emails.each do |email| %>
        <li>"<%= email.object %>" by <b><%= email.body%><b></li>
    <%end%>
</ul>
<% end %>

<%= button_to "Recevoir un email", emails_path, data: {turbo_frame: "new_email"} %>